.contact-container {
  text-align: center;
  padding: 50px;
}

.contact-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.background-image {
  background-image: url(../OurStory/Images/Pic.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-side,
.right-side {
  width: 40%;
  padding: 20px;
}

.left-side {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-side h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.left-side p {
  margin-bottom: 10px;
}

.left-side:hover {
  transform: scale(1.05);
  background-color: #333;
}

.right-side {
  background-color: #f4d9c6;
  padding: 20px 40px;
  text-align: center;
}

.right-side h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #df9989;
  ;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #bc4c34;
  ;
}


.contact-form form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #555;
}

.contact-form label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-group:last-child {
  margin-bottom: 0;
}
