.home__image {
    width: 80%;
    height: 300px;
    margin: 50px auto;
    display: block;
    border-radius: 12px;
    cursor: pointer;
}

.home-page {
    background: linear-gradient(to bottom, rgb(255, 216, 201) 5%, #eee 95%); 
}

.home-page .cards {
    margin: 50px; 
    padding: 20px;
    display: flex;
    justify-content: center;
}